<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Crypto.dll" version="1.8.1" targetFramework="net462" />
  <package id="BCrypt.Net-Next" version="4.0.3" targetFramework="net462" />
  <package id="BouncyCastle.Cryptography" version="2.5.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="MailKit" version="4.10.0" targetFramework="net462" />
  <package id="MimeKit" version="4.10.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net462" />
  <package id="System.Formats.Asn1" version="8.0.1" targetFramework="net462" />
  <package id="System.Memory" version="4.6.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>